@font-face {
  font-family: "Fredoka One";
  src: url("../assets/fonts/FredokaOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("../assets/fonts/FiraGO-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
